/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100 dvb;
    display: grid;
    justify-content: center;
    background-image: var(--background-filter-gradient);
    background-size: cover;
    font-family: var(--font-style-normal);
    font-variation-settings: "wght" var(--font-weight-normal);
}

.header {
    margin-top: 100px;
    padding: clamp(7.5rem, 7.324rem + 0.75vw, 8rem) 0;
    border: 2px solid var(--main-text-color);
    background-color: var(--alternative-text-color);
    display: grid;
    font-family: var(--font-style-accent);
    font-weight: 400;
    text-transform: uppercase;
}

.header_logo_html {
    font-size: 49px;
    line-height: 49px;
    justify-self: center;
}

.header_logo_close {
    margin-top: 20px;
    font-size: 14px;
    line-height: 14px;
    justify-self: center;
}

.main {
    width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    margin-top: 100px;
    display: grid;
    justify-content: center;
}

.list {
    display: grid;
    justify-content: center;
    background-color: var(--alternative-text-color);
    gap: 52px;
}

.card {
    display: grid;
    justify-content: center;
    border: 2px solid var(--main-text-color);
    width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}

.card_logo {
    margin: 4px 10px 6px;
    font-family: Inter, sans-serif;
    font-variation-settings: "wght" var(--font-weight-accent);
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0;
}

.card_img_container {
    overflow: hidden;
    position: relative;
}

.card_img {
    max-width: 100%;
    object-fit: cover;
}

.card_img_easy {
    transform: scale(1.5) translate(18%);
    filter: sepia(1);
}

.card_img_angry {
    transform: scale(1.5) translate(14%);
    filter: grayscale(1);
}

.card_img_fireworks {
    transform: scale(1.5);
    filter: brightness(1.5);
}

.card_img_not_ideal {
    transform: translate(-2%);
    filter: blur(5px);
}

.card_img_alone {
    transform: scale(1.8);
    filter: contrast(150%);
}

.card_img_cohort {
    transform: scale(1.2);
    filter: saturate(2);
}

.card_img_shiva {
    filter: blur(2px) brightness(0.8) contrast(1.2) sepia(0.5);
}

.card_img_today {
    transform: scale(1.3) translate(10%);
    filter: hue-rotate(90deg);
}

.card_img_watermark {
    position: absolute;
    mix-blend-mode: hard-light;
    top: 25px;
    right: 13px;
    font-family: var(--font-style-accent);
    font-weight: var(--font-weight-accent);
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0;
    text-shadow: 1px var(--text-stroke-color);
}

@supports (text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color)) {
    .card_img_watermark {
        -webkit-text-stroke: 1px var(--text-stroke-color);
        text-stroke: 1px var(--text-stroke-color);
        text-shadow: none;
    }
}

.card_content {
    display: grid;
}

.card_content_text_container {
    display: grid;
    gap: 27px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 50px;
}

.card_content_text {
    display: block;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
}

.card_content_button_container {
    margin-right: 25px;
    margin-bottom: 25px;
    justify-self: right;
    display: grid;
    grid-template-columns: auto auto;
}

.general_button {
    font-family: var(--font-style-accent);
    background-color: var(--alternative-text-color);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.card__like-button {
    display: block;
    border: 2px solid var(--main-text-color);
    background-color: var(--alternative-text-color);
    width: 130px;
    height: 38px;
    font-weight: 400;
    font-size: 14px;
    line-height: 12.6px;
    letter-spacing: 0;
}

.card_save-button {
    justify-self: center;
    margin-top: 51px;
    margin-bottom: 105px;
    width: 335px;
    height: 51px;
    display: block;
    border: 2px solid var(--main-text-color);
}

.dialog_memory[open] {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 20px;
    width: 341px;
    height: 195px;
    font-family: var(--font-style-accent);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    text-transform: uppercase;
}

.dialog_memory::backdrop {
    background: var(--main-text-color);
    opacity: 0.8;
}

.dialog_floppy_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 257px;
    align-items: center;
}

.dialog_memory_text {
    width: 198px;
    height: 63px;
}

.memory_button {
    margin-top: 69px;
    margin-bottom: 102px;
    display: grid;
    justify-items: center;
    justify-self: center;
    width: 306px;
    height: 84px;
    font-size: 14px;
    border: 2px solid var(--main-text-color);
}

.floppy_svg {
    margin-top: 15px;
}

.dialog_memory_button {
    justify-self: center;
    border: 2px solid var(--main-text-color);
    width: 257px;
    height: 38px;
}

@media (min-width: 376px) {
    .dialog_memory {
        width: 353px;
    }

    .list {
        gap: 50px;
    }

    .memory_button {
        grid-template-columns: auto auto;
        height: 55px;
        width: 335px;
        gap: 8px;
    }

    .text-memory-button {
        align-self: center;
    }
}

.card__like-button:focus-visible,
.memory_button:focus-visible,
.dialog_memory_button:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 var(--text-stroke-color);
    transition: box-shadow 0.3s ease;
}

.card__icon-button {
    border-color: transparent;
}

.card__icon-button:focus-visible {
    outline: none;
    border-color: var(--main-text-color);
    transition: border-color 0.3s ease;
}

.card__like-button::before,
.memory_button::before,
.dialog_memory_button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-text-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.card__like-button:hover::before,
.memory_button:hover::before,
.dialog_memory_button:hover::before {
    transform: scaleX(1);
}

.card__like-button:hover,
.memory_button:hover,
.dialog_memory_button:hover {
    color: white;
    transition: color 0.5s ease-in-out;
}

.memory_button:hover svg {
    stroke: var(--alternative-text-color);
    transition: stroke 0.5s ease-in-out;
}

.sparks {
    opacity: 0;
}

.core {
    fill: var(--alternative-text-color);
    transition: fill linear;
}

.card__icon-button:hover .main-body {
    fill: var(--contour-color);
    transition: fill 0.3s 0.3s linear;
    transition-delay: 0.05s;
}

.card__icon-button:hover .core {
    fill: var(--contour-color);
    transition: fill 0.3s 0.03s linear;
}

.card__icon-button:active .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.3s linear;
    transition-delay: 0.05s;
}

.card__icon-button:active .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.03s linear;
}

.is-liked .contour {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear;
    transition-delay: 0.06s;
}

.is-liked .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear;
    transition-delay: 0.05s;
}

.is-liked .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear;
}

.is-liked .heart {
    animation: heart-movement 0.3s 0.1s ease-in;
}

.is-liked .sparks {
    animation: sparks-movement 0.3s 0.3s ease-in;
}